<!DOCTYPE html>

<mat-card-title class="card-title">
  <h1>Generate Your Story</h1>
  <h2>Use the storyline generator to create a five-act storyline based off of the attributes you set for each character. Click on an option in the option box to fill each girlfriend's act.</h2>
</mat-card-title>

<body>
  <mat-grid-list cols="6" rowHeight="2:1">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile><h3>Opening</h3></mat-grid-tile>
    <mat-grid-tile><h3>Disruption</h3></mat-grid-tile>
    <mat-grid-tile><h3>Conflict</h3></mat-grid-tile>
    <mat-grid-tile><h3>Choice</h3></mat-grid-tile>
    <mat-grid-tile><h3>Consequence</h3></mat-grid-tile>

    <mat-grid-tile><h3>POG</h3></mat-grid-tile>
    <mat-grid-tile><mat-card *ngIf="textOpeningPOG">{{ selectionOpeningPOG }}</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card *ngIf="showDisruptionPOG && textDisruptionPOG">{{ selectionDisruptionPOG }}</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card *ngIf="showConflictPOG && textConflictPOG">{{ selectionConflictPOG }}</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card *ngIf="showChoicePOG && textChoicePOG">{{ selectionChoicePOG }}</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card></mat-card></mat-grid-tile>

    <mat-grid-tile><h3>POD</h3></mat-grid-tile>
    <mat-grid-tile><mat-card *ngIf="showOpeningPOD && textOpeningPOD">{{ selectionOpeningPOD }}</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card *ngIf="showDisruptionPOD && textDisruptionPOD">{{ selectionDisruptionPOD }}</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card *ngIf="showConflictPOD && textConflictPOD">{{ selectionConflictPOD }}</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card *ngIf="showChoicePOD && textChoicePOD">{{ selectionChoicePOD }}</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card></mat-card></mat-grid-tile>

  </mat-grid-list>

  <mat-card class="selector">
    <h4>Choose a situation for the POG and POD.</h4>
    <mat-card class="options" *ngFor="let card of cards; let i = index" (click)="setText(card.name); ngOnClick(card)">
      <!-- <div id="{{ 'option' + i }}">{{ card.name }}</div> -->
      <div id="{{ 'option' + i }}" [(innerHTML)]="card.name"></div>
    </mat-card>
    <!-- <div
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="cards"
      (cdkDropListDropped)="drop($event)">
      <mat-card class="options" *ngFor="let card of cards; let i = index" cdkDrag>
        <div id="{{ 'option' + i }}">{{ card.name }}</div>
      </mat-card>
    </div> -->
  </mat-card>

  <div class="button-format">
    <button mat-stroked-button>
      <a routerLink="/story-summary">GENERATE STORY</a>
    </button>
  </div>
</body>
