<!DOCTYPE html>

<mat-card-title class="card-title">
  <h1>Story Summary</h1>
  <h2>The following storyline was generated based off of the characteristics you selected for each girlfriend. Click restart to explore another path.</h2>
  <img src="assets/img.png" style="width:1300px; transition: none !important;">
</mat-card-title>

<body>
  <mat-grid-list cols="6" rowHeight="2:1">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile><h3>Opening</h3></mat-grid-tile>
    <mat-grid-tile><h3>Disruption</h3></mat-grid-tile>
    <mat-grid-tile><h3>Conflict</h3></mat-grid-tile>
    <mat-grid-tile><h3>Choice</h3></mat-grid-tile>
    <mat-grid-tile><h3>Consequence</h3></mat-grid-tile>

    <mat-grid-tile><h3>POG</h3></mat-grid-tile>
    <mat-grid-tile><p>
      <mat-card><p>In a relationship</p></mat-card>
    </p></mat-grid-tile>
    <mat-grid-tile><mat-card></mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card></mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card></mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card></mat-card></mat-grid-tile>

    <mat-grid-tile><h3>POD</h3></mat-grid-tile>
    <mat-grid-tile><mat-card></mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card></mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card></mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card></mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card></mat-card></mat-grid-tile>
  </mat-grid-list>

  <div class="button-format">
    <button mat-stroked-button>
      <a routerLink="/attribute-picker">RESTART</a>
    </button>
  </div>
</body>
