<!DOCTYPE html>
<body>
  <div class="text-box">
  <mat-card class="card-one">
      <h1>T2P</h1>
  </mat-card>
  <mat-divider class="divider-one"></mat-divider>
  <mat-card class="card-two">
    <h2>Tale of Two Persons</h2>
    <p>This project is based off of Janet Murray’s abstraction framework for creating variation in interactive narratives, proposed in “A Tale of Two Boyfriends: A Literary Abstraction Strategy for Creating Meaningful Character Variation.”  The project departs from previous iterations examining heterosexual love triangles. It instead focuses on lesbian love triangles between a woman in the middle (GWEN), the Girlfriend of Obligation (G.O.), and the Girlfriend of Desire (G.D.). Tale of Two Girlfriends is a tool that allows authors to explore variants in stories and generate dramatic contrast in parameterized, five-act storylines based off of their choices.</p>
  </mat-card>
</div>
  <mat-divider class="divider-two"></mat-divider>
  <!-- <mat-card class="card-three">
    <button mat-stroked-button><a routerLink="/attribute-picker" routerLinkActive="active">CLICK</a></button>
</mat-card> -->
  <!-- <div class="button-format">
    <button mat-stroked-button layout-align="center"><a routerLink="/attribute-picker" routerLinkActive="active">CLICK</a></button>
  </div> -->
  <div class="button-format">
      <button mat-stroked-button layout-align="center">
        <a routerLink="/attribute-picker">CLICK</a>
      </button>
  </div>
</body>
