<!-- <main> -->
    <mat-card class="card-one">
        <p>t2p</p>
    </mat-card>
    <mat-divider class="divider-one"></mat-divider>
    <mat-card class="card-two">
      <p>This project is based off of Janet Murray’s abstraction framework for creating variation in interactive narratives, proposed in “A Tale of Two Boyfriends: A Literary Abstraction Strategy for Creating Meaningful Character Variation.”  The project departs from previous iterations examining heterosexual love triangles. It instead focuses on lesbian love triangles between a woman in the middle (GWEN), the Girlfriend of Obligation (G.O.), and the Girlfriend of Desire (G.D.). Tale of Two Girlfriends is a tool that allows authors to explore variants in stories and generate dramatic contrast in parameterized, five-act storylines based off of their choices.</p>
    </mat-card>
    <mat-divider class="divider-two"></mat-divider>
    <mat-card class="card-three">
        <button mat-button><a routerLink="/attribute-picker" routerLinkActive="active">CLICK</a></button>
    </mat-card>
<!-- </main> -->

