<!-- <h1> TEST ROUTING</h1> -->
<!DOCTYPE html>

<mat-card-title class="card-title">
  <h1>Choose your attributes</h1>
  <h2>Use the sliders below to set the Honesty and Desirability attributes for each girlfriend. When you're finished, click the Generate Characters button to start creating your storyline.</h2>
</mat-card-title>

<body>
<!-- Set POG attribute values -->
<h3>POG</h3>
<sub>Person of Obligation</sub>
<mat-grid-list cols="2" rowWidth="300px" rowHeight="100px" class="mat-grid-format">
  <mat-grid-tile>
    <p style="padding-left: 9.5rem;">Honesty</p>
  </mat-grid-tile>
  <mat-grid-tile>
      <div class="slider-format">
        <mat-slider
          min="-5"
          max="5"
          step="1"
          tickInterval="1"
          value="0"
          input [(ngModel)]="POG.honesty">
        </mat-slider>
      </div>
  </mat-grid-tile>
  <mat-grid-tile>
      <p style="padding-left: 8.5rem;">Desirability</p>
  </mat-grid-tile>
  <mat-grid-tile>
      <div class="slider-format">
        <mat-slider
          min="-5"
          max="5"
          step="1"
          tickInterval="1"
          value="0"
          input [(ngModel)]="POG.desirability">
        </mat-slider>
      </div>
  </mat-grid-tile>
</mat-grid-list>

<!-- Set POD attribute values -->
<h3>POD</h3>
<sub>Person of Desire</sub>
<mat-grid-list cols="2" rowWidth="300px" rowHeight="100px" class="mat-grid-format">
  <mat-grid-tile>
    <p style="padding-left: 9.5rem;">Honesty</p>
  </mat-grid-tile>
  <mat-grid-tile>
      <div class="slider-format">
        <mat-slider
          min="-5"
          max="5"
          step="1"
          tickInterval="1"
          value="0"
          input [(ngModel)]="POD.honesty">
        </mat-slider>
      </div>
  </mat-grid-tile>
  <mat-grid-tile>
      <p style="padding-left: 8.5rem;">Desirability</p>
  </mat-grid-tile>
  <mat-grid-tile>
      <div class="slider-format">
        <mat-slider
          min="-5"
          max="5"
          step="1"
          tickInterval="1"
          value="0"
          input [(ngModel)]="POD.desirability">
        </mat-slider>
      </div>
  </mat-grid-tile>
</mat-grid-list>

<div class="button-format">
    <button mat-stroked-button layout-align="center">
      <a routerLink="/storyline-generator" [state]="{ attributeValues : this.attributeValues }">GENERATE CHARACTERS</a>
    </button>
</div>

<!-- <div class="format-value-text">
  <p>Honesty POG: {{ POG.honesty }}</p>
  <p>Desirability POD: {{ POG.desirability }}</p>
  <p>Honesty POD: {{ POD.honesty }}</p>
  <p>Desirability POD: {{ POD.desirability }}</p>
</div> -->

</body>
