@import url(../fonts.css);

h1 {
  font-family: 'Montserrat-Bold', 'Arial';
  font-size: 2rem;
  padding-left: 3.5rem;
  width: 85%
}

h2 {
  font-family: 'Monument Grotesk', 'Arial';
  font-size: 1.1rem;
  width: 90%;
  padding-left: 3.5rem;
}

h3 {
  font-family: 'Montserrat-Bold', 'Arial';
  font-size: 1.9rem;
  padding-top: 4rem;
  padding-left: 16rem;
  margin-bottom: 0;
}

sub {
  font-family: 'Inconsolata', 'Courier New';
  font-size: 1.1rem;
  padding-left: 16rem;
  margin-top: none;
}

p {
  font-family: 'Montserrat-Regular', 'Arial';
  font-size: 0.95rem;
  width: 93%;
  /* margin: auto; */
}

button {
  background-color: #33CCCC;
  width: 7%;
  height: 5%;
}

.card-title {
  width: 100%;
  padding-top: 3rem;
}

body {
  background-color: #FFFFCC;
  width: 100%;
  height:100%;
}

mat-slider {
  width: 300px;
}

/* .mat-slider .mat-slider-track-wrapper {
  height: 10px;
  border-radius: 10px;
}

.mat-slider .mat-slider-track-background,
.mat-slider .mat-slider-track-fill {
  height: 100%;
}
.mat-slider .mat-slider-track-fill {
  background-color: blue;
}
.mat-accent .mat-slider-thumb {
  height: 30px;
  width: 30px;
  background-color: white;
  border: solid 2px gray;
  bottom: -20px;
  right: -20px;
}
.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: white;
} */

.slider-format {
  /* padding-top: 5rem;
  padding-left: 3rem; */
  /* margin: auto; */
  position: absolute;
  text-align: left;
  padding-left: 1rem;
}

/* .grid-text {
  position: absolute;
  padding-left: 10rem;

} */

.mat-grid-format {
  width: 40%;
  display: flex;
  align-items: flex-start;
}

button {
  /* width: 100%;
  height: 100%; */
  background-color: #33CCCC;
  width: 15%;
  height: 5%;
}

.button-format {
  margin-left: 8rem;
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.format-value-text {
  margin-left: 3.5rem;
}
