<!-- <h1> TEST ROUTING</h1> -->

<!DOCTYPE html>
  <!-- <body>
    <p>TESTING HEHE</p>
  </body> -->
  <mat-card-title class="card-title">
    <h1>Choose your attributes</h1>
    <h2>Use the sliders below to set the Honesty and Desirability attributes for each girlfriend. When you're finished,
        click the Generate Characters button to start creating your storyline.</h2>
  </mat-card-title>
  <div class="slider-format">
    <mat-slider
      min="-5"
      max="5"
      step="1"
      tickInterval="1"
      value="0">
    </mat-slider>
  </div>

